body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

/* CSS */
#chart-container {
  margin-bottom: 20px; 
  padding-top: 20px; 
}

label {
  display: block; 
  margin-bottom: 5px; 
}


#nationality-select {
  display: block; 
  margin-top: 10px; 
}


.chart-title {
  margin-top: 10px; 
}

/* DROPDOWN */
#nationality-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #333;
  width: 200px; 
  outline: none; 
  cursor: pointer;
}

#nationality-select option {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 40px;
  color: #333;
}

#nationality-select:focus {
  border-color: #A98F88; 
}